*.log

# bspwm
os/linux/bspwm/theme

# mutt
os/linux/mutt/alias
os/linux/mutt/cache
os/linux/mutt/sig
os/linux/mutt/theme
os/linux/mutt/tmp

# nvim
editors/vim/autoload/lightline/colorscheme
editors/vim/autoload/plug.vim
editors/vim/autoload/theme.vim
editors/vim/colors
editors/vim/plugged
editors/vim/session
editors/vim/.netrwhist

# ranger
os/linux/ranger/__pycache__
os/linux/ranger/devicons.py
os/linux/ranger/bookmarks
os/linux/ranger/history
os/linux/ranger/plugins

# tmux
os/linux/tmux/theme.conf
os/linux/tmux/config/plugins/tpm/

editors/vim/plugged/
